# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

lib/features/feth_weather/data/models/geocoding/geo_coding_model.g.dart

lib/features/current_weather/domain/entities/current_weather_entity.freezed.dart

lib/features/current_weather/domain/entities/current_weather_entity.g.dart

lib/features/current_weather/domain/entities/wind_model.freezed.dart

lib/features/current_weather/domain/entities/wind_model.g.dart

lib/features/feth_location/domain/entities/geocoding/geo_coding_entity.freezed.dart

lib/features/feth_location/domain/entities/geocoding/geo_coding_entity.g.dart

lib/features/five_days_weather/domain/entities/next_days_weather_main.freezed.dart

lib/features/five_days_weather/domain/entities/next_days_weather_main.g.dart

lib/features/five_days_weather/domain/entities/sun_entity.g.dart

lib/features/five_days_weather/domain/entities/sun_entity.freezed.dart

lib/features/five_days_weather/domain/entities/weather_next_days_entity.g.dart

lib/features/five_days_weather/domain/entities/weather_next_days_entity.freezed.dart

lib/features/five_days_weather/domain/entities/temperature_entity.freezed.dart
lib/features/five_days_weather/domain/entities/temperature_entity.g.dart
lib/features/five_days_weather/domain/entities/weather_day_list.freezed.dart
lib/features/five_days_weather/domain/entities/weather_day_list.g.dart

test/features/feth_location/data/repositories/geo_coding_repository_implementation_test.mocks.dart
